#main{
	background-color: #f7f7f5;
}
/* phim hay*/
.menu_side {
			text-decoration: none;
			padding: 30px;
			display: block;
			float: left;
			background-color: #2d454d;
			font-size: 30px;
			color: #f5f5f5;
		}
nav{
	text-align: center;
	background-color: #2d454d;
	overflow: hidden;
}

nav > a:hover{
			color: #daff05;
			background-color: red;
}
.paraghap1 {
			width: 100%;
			
		}
.side_table{
	padding: 20px;
	color: #dd00ff;
	font-size: 30px;
}
.paraghap1 > td > p{
			padding: 10px 20px;
		}
.left_side{
	text-align: left;
}
/*tin xem nhieu*/
.yok {
	color: #34e810;
}

#haha{
	color: #f00cdd;
	}
div > p > a:hover{
		color: #f00c0c;
		}
		/*tin moi*/

#tinmoi_style{
		color: #f08d0c;
	}
	.color_other{
		color: #860cf0;
	}

.ii:hover{color: #f00cdd;background-color: #f0f00c;} .ii{padding: 14px;}
#MyInfo_style{
	color: #00f539;
}
#font_side{
	font-size: 30px;
}
/*trang chu*/

#side_info_email{
	text-decoration: none;
}

#side_info_email:hover{
	color: yellow;
	background-color: #4c6351;
}	

#My_title{
	padding: 80px;
	color: #ff0000;
	text-align: center;
	background-color: #abff52;
	margin: 0;
	font-size: 50px;
	font-weight: bold;
}
.img_item{
	width:20%;
	text-align: center;
	flex: wrap;
	font-size: 150%;
	float: left;

}
footer{
	padding: 30px;
	color: white;
	background-color: black;
	text-align: center;
}
.disc_img{
	padding: 0 10px 20px 10px;
}
.img_img{
	padding: 10px;
	max-width: 90%;
	margin: 0;
}
